/* 
#f0a830 yellow
#f07818 orange
#78c0a8 mint blue
#fcebb6 sand brown
#5e412f chocolate brown
*/

table, tr, th, td, caption{
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: .5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fcebb6;
}

header{
    display: flex;
    align-items: center;
    padding: 2%;
    background-color: #5e412f;
}

h1#title{
    margin-left: 5px;
    background-color: #5e412f;
    color: #f07818;
    font-size: 100px;
}

.nav_links{
    list-style: none;
    text-decoration: none;
    background-color: #5e412f;
}

.nav_links li{
    background-color: #5e412f;
    display: inline-block
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background-color: #5e412f;
    color: #f07818;
    font-size: 30px;
    margin-left: 50px;
}

.nav_links li a:hover{
    background-color: #78c0a8;
    color: #f07818;
}